{{#each data.authors}}
<div class="row totalContainer">
  <div class="col-sm-2">
    <a href="/authors/{{id}}"><img class="smallImg" src="{{portraitUrl}}" style="{height:25px; width:15px;}" /></a>
  </div>
  <div class="col-sm-8 itemContainer">
  <h1>Author: {{firstName}} {{lastName}} <a href="/authors/{{id}}/delete"><input class="button btn btn-primary"type="button" value="Delete"></a><a href="/authors/{{id}}/edit"><input class="button btn btn-primary"type="button" value="Edit"></a></h1>
  <p>
    <strong>Biography:</strong> {{bio}}
  </p>
  <ul>
    <h1>Books</h1>
    {{#each titles}}
    <li>
      {{title}}
    </li>
    {{/each}}
  </ul>
</div>
</div>
{{/each}}
