{{#each data.books}}
  <div class="row">
    <div class="col-sm-2">
      <img src="{{coverUrl}}" style="{height:25px; width:15px;}" />
    </div>
    <div class="col-sm-8">

    <h1>Title: {{title}} </h1>
    <p>Genre: {{authors.0.name}}</p>
    <ul>
      <h1>Authors</h1>
        {{#each authors}}
          <li>{{firstName}} {{lastName}}</li>
        {{/each}}
    </ul>
  </div>
  </div>
{{/each}}
