{{#each data.books}}
  <div class="row totalContainer" id="multiView">
    <div class="col-sm-2">
      <a href="/books/{{id}}"><img class="smallImg" src="{{coverUrl}}" style="{height:25px; width:15px;}" /></a>
    </div>
    <div class="col-sm-9 itemContainer">
<div class="row">

    <h1>Title: {{title}} <a href="/books/{{id}}/delete"><input class="button btn btn-primary"type="button" value="Delete"></a><a href="/books/{{id}}/edit"><input class="button btn btn-primary"type="button" value="Edit"></a>
      </h1>
  </div>
    <p><strong>Genre: </strong>{{authors.0.name}}</p>
    <p><strong>Description: </strong>{{description}}</p>
    <ul>
      <h3>Authors</h3>
        {{#each authors}}
          <li>{{firstName}} {{lastName}}</li>
        {{/each}}
    </ul>
  </div>
  </div>
{{/each}}
