
<div class="row">
  <div class="col-sm-2">
    <a href="/authors/{{id}}"><img src="{{data.author.portraitUrl}}" style="{height:25px; width:15px;}" /></a>
  </div>
  <div class="col-sm-8">
  <h1>Author: {{data.author.firstName}} {{data.author.lastName}} <a href="/authors/{{data.author.id}}/edit"><input class="btn btn-primary"type="button" value="Edit"></a><a href="/authors/{{data.author.id}}/delete"><input class="btn btn-primary"type="button" value="Delete"></a></h1>
  <p>
    <strong>Biography:</strong> {{data.author.bio}}
  </p>
  <ul>
    <h1>Books</h1>
    {{#each data.author.titles}}
    <li>
      {{title}}
    </li>
    {{/each}}
  </ul>
</div>
</div>
